.App {
  text-align: center;
  margin: 0 auto;
  padding: 30px;
  max-width: 1000px;
}

.App-header {
  font-size: 45px;
  color: white;
  font-weight: bold;
}

.App-footer {
  font-size: 12px;
  margin: 30px auto;
  color: white;
}

.App-footer a {
  color: white;
}

.App-footer a:hover {
  font-weight: bold;
}
