:root {
  --first-color: #233142;
  --second-color: #455d7a;
  --third-color: #f95959;
  --light-color: #e3e3e3;
}

.App {
  text-align: center;
  margin: 0 auto;
  padding: 30px;
  max-width: 800px;
  background-color: #455d7a;
}

.App-header {
  font-size: 45px;
  color: white;
  font-weight: bold;
}

.App-footer {
  font-size: 12px;
  margin: 30px auto;
  color: white;
}

.App-footer a {
  color: white;
}

.App-footer a:hover {
  font-weight: bold;
}
