.Images {
  text-align: center;
}
.Images-photo {
  min-width: 150px;
  border-radius: 12px;
  border: solid 3px var(--light-color);
  margin-bottom: 15px;
}

@media (min-width: 992px) {
  .Images {
    margin-top: 20px;
  }
  .Images-photo {
    min-width: 400px;
  }
}
