.Meanings h5 {
  color: var(--third-color);
  font-weight: bold;
  font-size: 24px;
}
.Meanings .definition {
  color: var(--third-color);
  font-weight: bold;
}

.Meanings-example {
  color: var(--second-color);
  font-style: italic;
  font-size: 16px;
  margin-top: 5px;
}

.Meanings p {
  margin-bottom: 0;
  text-align: left;
}
