.Phonetics .audio-and-text {
  line-height: 40px;
}
.Phonetics .listen-button {
  text-decoration: none;
  margin-right: 10px;
  font-weight: bold;
  transition: all 150ms ease-in-out;
  border-radius: 50px;
  padding: 6px 15px;
  border: solid 2px var(--third-color);
  color: var(--light-color);
  background-color: var(--third-color);
}

.Phonetics .listen-button:hover {
  color: var(--third-color);
  background-color: var(--light-color);
}

.Phonetics .phonetic-text {
  color: var(--background-color);
  opacity: 0.9;
}
